.grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    align-items: center;
    margin: 0 20px 0 20px;
}

header {
    display: flex;
    justify-content:space-between;
    background-color: #2B2B2B;
}

nav {
    display: flex;
    justify-content: space-evenly;
}

.navInfo {
    padding: 30px 20px 0 20px;
    color: #8f8f8f;
}

main {
    background-color: #EFEFEF;
}

h2 {
    margin: 0;
    padding: 20px 0 20px 10px;
    color: #4f4f4f
}

.admin {
    color: #288BBf;
}
.card {
    box-shadow: 0 4px 8px 0 #8f8f8f, 0 6px 20px 0 #8f8f8f;
    margin: 5px;
}