.grid {
    display: grid;
    grid-template-columns: repeat(3, 3fr);
    grid-template-rows: 33%, 33%, 33%;
    align-items: center;
}

header {
    display: flex;
    justify-content:space-between;
    background-color: gray;
}

nav {
    display: flex;
    justify-content: space-evenly;
}

.navInfo {
    padding: 30px 20px 0 20px;
}